.popup-body{
  width: 180px;
}
.popup-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-wrapper{
  display: flex;
  justify-content: start;
  align-items: center;
}
.logo-img{
  margin-right: 0.5rem;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.alert{
  margin-top: 0.5rem;
}
.error-alert{
  border: 1px solid #f5c6cb; 
  background-color: #f8d7da;
  color: #721c24;
  padding: 0 0.5rem;
  overflow-wrap: break-word;
}
.d-none{
  display: none;
}

/* checkbox switch */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9e9e9e;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1bbc9b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1bbc9b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}
.slider.round {
  border-radius: 30px;
}
.slider.round:before {
  border-radius: 50%;
}